
    .Name {
      text-align: center;
      margin: 20px 0;
      font-size: 24px;
    }

    .search-container {
      width: 70%;
      margin: 0 auto;
      display: flex;
      align-items: center;
    }

    input[type="text"] {
      flex: 1;
      padding: 10px;
      font-size: 16px;
      margin-right: 10px
    }

    .search-button {
      padding: 10px 20px;
      font-size: 16px;
      background-color: #d900c3;
      color: #fff;
      border: none;
      cursor: pointer;
    }

    .autocomplete-suggestions {
      border: 1px solid #ccc;
      max-height: 150px; /* Limit the height of suggestions */
      overflow-y: auto;
      position: absolute;
      width: 100%; /* Match the input width */
      background-color: #fff;
      z-index: 1; /* Ensure suggestions are above other content */
    }
