<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.2.26/jquery.autocomplete.min.js"></script>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>
  <div class="wrapper">
    <!-- Spreadsheet-like div for drugs list -->
    <div id="drugs-list" class="drugs-list">
      <ol id="drugs-ol">
        <!-- Drugs will be added here -->
      </ol>
    </div>
    <!-- Search and tags container below -->
    <div id="search-and-tags-container" class="search-and-tags-container">
      <div id="tags-container" class="tags-container">
        <!-- Selected tags will appear here -->
      </div>
      <input type="text" name="names" id="autocomplete1" placeholder="Drug name"/>
    </div>
    <input type="submit" value="Submit">
  </div>
  
  

  <script src="static/drug-search.js"></script>



</body>