<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.2.26/jquery.autocomplete.min.js"></script>
  <link rel="stylesheet" href="static/css/style.css">
</head>

<body>

  <div class="wrapper">
    <h2>Search for a Drug</h2>
    <div id="search-and-tags-container" class="search-and-tags-container">
      <input type="text" name="names" id="autocomplete1" placeholder="Drug name"/>
    </div>
  </div>    

  <div class="wrapper">
    <h2>Added Medications</h2>
    <div id="added-drugs-list" class="drugs-list">
      <ol id="added-drugs-ol">
    <!-- Container for the drugs list that will display added medications -->
      </ol>
      <p id="no-meds-text">No meds added yet.</p>
    </div>
  </div>  

  <input type="submit" value="Submit" id="submit-button">

  <!-- Container for displaying interaction data -->
  <div id="interaction-data-container"></div>

  <script src="static/js/drug-search.js"></script>

</body>